@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0F111A;
  color: #E2E8F0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar estándar que no da warnings */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0F111A; }
::-webkit-scrollbar-thumb { 
  background: #555990; 
  border-radius: 10px; 
}